<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.javagreenS_khv.dao.CustomPersonDAO">
<!-- 수정 <mapper namespace="org.mybatis.example.BlogMapper"></mapper> -->
	<select id="searchCustomPerson" resultType="com.spring.javagreenS_khv.dto.CustompersonDto">
	    SELECT * FROM CUSTOM_PERSON WHERE CUSTOM_ID = #{customId}
	</select>
	<select id="searchLogin" resultType="com.spring.javagreenS_khv.dto.CustomPersonloginDto">
		SELECT 
			LOGIN_ID,  -- primary key
			LOGIN_PWD,
			CUSTOM_ID,  -- foreign key (custom_person TBL)
			(SELECT CUSTOM_NM FROM CUSTOM_PERSON WHERE CUSTOM_ID = CUSTOM_PERSON_LOGIN.CUSTOM_ID) AS CUSTOM_NAME,  -- foreign key (코드TBL)
			CUSTOM_GRADE,
			(SELECT GRADE_NAME FROM CUSTOM_GRADE WHERE GRADE_CODE = CUSTOM_GRADE) AS GRADE_NAME,  -- foreign key (코드TBL)
			POINT,
			VISIT_CNT,
			TODAY_CNT,
			LOGIN_DATE,
			LOGOUT_DATE,
			CREATE_DATE,
			UPDATE_DATE,
			DELETE_DATE 
		FROM CUSTOM_PERSON_LOGIN 
		WHERE LOGIN_ID = #{loginId} AND LOGIN_PWD = #{loginPwd} AND DELETE_DATE IS NULL ;  -- primary key(loginId) indexing	    
	</select>
	<update id="updateTodayCnt">
		UPDATE CUSTOM_PERSON_LOGIN SET TODAY_CNT = 0, LOGIN_DATE = DEFAULT, LOGIN_USER = #{loginId}, UPDATE_DATE = DEFAULT, UPDATE_USER = #{loginId} WHERE LOGIN_ID = #{loginId} AND CUSTOM_ID = #{customId} AND DELETE_DATE IS NULL
	</update>
	<update id="updateVisitCntAndTodayCnt">
		UPDATE CUSTOM_PERSON_LOGIN SET VISIT_CNT = VISIT_CNT+1, TODAY_CNT = TODAY_CNT+1, UPDATE_DATE = DEFAULT, UPDATE_USER = #{loginId} WHERE LOGIN_ID = #{loginId} AND CUSTOM_ID = #{customId} AND DELETE_DATE IS NULL
	</update>
	<update id="updatePoint">
		UPDATE CUSTOM_PERSON_LOGIN SET POINT = POINT + 100, UPDATE_DATE = DEFAULT, UPDATE_USER = #{loginId} WHERE LOGIN_ID = #{loginId} AND CUSTOM_ID = #{customId} AND DELETE_DATE IS NULL
	</update>
	<update id="updateCustomPersonLoginUserDel">
		UPDATE CUSTOM_PERSON_LOGIN SET DELETE_DATE = DEFAULT, DELETE_USER = #{loginId} , LOGOUT_DATE = DEFAULT, LOGOUT_USER = #{loginId}  WHERE LOGIN_ID = #{loginId} AND CUSTOM_ID = #{customId}
	</update>
	<update id="updateLogout">
		UPDATE CUSTOM_PERSON_LOGIN SET LOGOUT_DATE = DEFAULT, LOGOUT_USER = #{loginId} WHERE LOGIN_ID = #{loginId} AND CUSTOM_ID = #{customId} AND DELETE_DATE IS NULL 
	</update>
	<select id="loginIdCheck" resultType="boolean">
		SELECT IF(COUNT(LOGIN_ID) > 0, TRUE, FALSE) AS ISEXIST_ID FROM CUSTOM_PERSON_LOGIN WHERE LOGIN_ID = #{loginId};
	</select>
	<select id="emailCheck" resultType="boolean">
		SELECT IF(COUNT(EMAIL) > 0, TRUE, FALSE) AS ISEXIST_EMAIL FROM CUSTOM_PERSON WHERE EMAIL = #{email}
	</select>
	<select id="juminNoCheck" resultType="boolean">
		SELECT IF(COUNT(JUMIN_NO) > 0, TRUE, FALSE) AS ISEXIST_JUMIN_NO FROM CUSTOM_PERSON WHERE JUMIN_NO = #{juminNo} -- Unique key(jumin_no) indexing
	</select>
	<select id="obtainCustomId" resultType="int">
		SELECT IFNULL(MAX(CUSTOM_ID) + 1, (CASE WHEN #{customKindCode} = 1 OR #{customKindCode} = 2 THEN 100 ELSE #{customKindCode} END) * 100000 + 1) AS OBT_CUSTOM_ID  
		FROM CUSTOM_PERSON 
		WHERE SUBSTRING(CUSTOM_ID, 1, 3) = CASE WHEN #{customKindCode} = 1 OR #{customKindCode} = 2 THEN 100 ELSE #{customKindCode} END; 
		-- primary key(custom_id) indexing을 조건절에서 SUBSTRING에 사용하면 조회속도가 높을것 같기도 하는데요
	</select>
	<insert id="insertCustomPersonAndCustomPersonLogin">
		INSERT INTO CUSTOM_PERSON VALUES ( 
			DEFAULT, 
			#{personDto.custom_id},   -- create_user	
			#{personDto.custom_nm},  
			2,
			#{personDto.custom_kind_cd},  
			'P',
			
		<if test='#{personDto.job} == "기타"'>
			#{personDto.txtJob},  
		</if>
		<if test='#{personDto.job} != "기타"'>
			#{personDto.job},  
		</if>

			#{personDto.hobby},  
			#{personDto.birth_date},  
			#{personDto.jumin_no},  
			#{personDto.gender},  
			#{personDto.tel_no},  
			#{personDto.hp_no},  
			#{personDto.email},  
			#{personDto.post_code},  
			#{personDto.road_addr},  
			#{personDto.extra_addr},  
			#{personDto.detail_addr},  
			#{personDto.memo},  
			DEFAULT, 
			#{personDto.custom_id},   -- create_user	
			NULL, 
			NULL, 
			NULL, 
			NULL );
	
		INSERT INTO CUSTOM_PERSON_LOGIN VALUES ( #{loginDto.login_id}, #{loginDto.encrypt_pwd}, #{loginDto.custom_id}, 'P', DEFAULT, DEFAULT, DEFAULT, NULL, NULL, NULL, NULL, DEFAULT, #{loginDto.login_id}, NULL, NULL, NULL, NULL);
	</insert>
</mapper>