<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.javagreenS_khv.dao.CustomGradeDAO">
<!-- 수정 <mapper namespace="org.mybatis.example.BlogMapper"></mapper> -->
<select id="searchCustomGradeList" resultType="com.spring.javagreenS_khv.dto.CustomGradeDTO">
	SELECT 
		 GRADE_CODE, -- primary key
		 GRADE_NAME  
	FROM CUSTOM_GRADE 
</select>
</mapper>